@font-face {
    font-family: 'bnb';
    src: url('../fonts/BebasNeueBold.ttf');
}
@font-face {
    font-family: 'bnl';
    src: url('../fonts/BebasNeueLight.otf');
}
@font-face {
    font-family: 'montb';
    src: url('../fonts/Montserrat-Bold.otf');
}
@font-face {
    font-family: 'cstdb';
    src: url('../fonts/CircularStdBold.ttf');
}
@font-face {
    font-family: 'brb';
    src: url('../fonts/Barlow-Bold.otf');
}
@font-face {
    font-family: 'brr';
    src: url('../fonts/Barlow-Regular.otf');
}
@font-face {
    font-family: 'myraid';
    src: url('../fonts/myriad.ttf');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    word-wrap: break-word;
}
img{
    max-width: 100%;
}
.mainpage {
    background-image: url('../images/background-color.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.content-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 90vh;
}
.maintitle{
    font-family: 'bnb';
    font-size: 145px;
    width: 85%;
    margin: 30px auto;
    color: #fff;
    line-height: 110px;
}
.yellow{
    color: #F9BF30;
}
.orange{
    color: #ff8300;
}
.vector{
    width: 35%;
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.titledata{
    font-family: 'cstdb';
    color: #fff;
    width: 85%;
    margin: 10px auto 40px;
    font-size: 18px;
    line-height: 30px;
}
.startquiz{
    font-family: 'montb';
    font-size: 30px;
    color: #fff;
    background-image: linear-gradient(to bottom,#ff8700 ,#ff6100);
    padding: 25px 100px;
    margin-left: 105px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 40%;
    border-bottom: 5px solid #612800 !important;
    -moz-box-shadow: inset 0px 0px 1px 0.5px yellow;
    box-shadow: inset 0px 0px 1px 0.5px yellow;
    border: none;
    -webkit-box-shadow: inset 0px 0px 1px 0.5px yellow;
    cursor: pointer;
    text-shadow: 1px 1px 1px #333;
}
.startquiz:hover{
    border-bottom: 5px solid #14092C !important;
}
.gamebegins{
    background-image: url('../images/gamebegins.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}
.begindata{
    font-family: 'bnb';
    font-size: 145px;
    padding-left: 100px;
    color: #fff;
    line-height: 110px;
}
.mainquiz{
    width: 100%;
    display: flex;
    flex-direction: column;
}
#count_num{
    font-size: 500px;
    color: #fff;
    opacity: 0.2;
    padding: 0px 250px;
    font-family: 'bnb';
    display: none;
}
.coin3{
    position: absolute;
    right: 7%;
    width: 250px;
    bottom: 10%;
    z-index: 11;
    display: none;
}
.coin2{
    position: absolute;
    right: 20%;
    width: 240px;
    bottom: 25%;
    z-index: 10;
    display:none;
}
.coin1{
    position: absolute;
    right: 31.5%;
    width: 240px;
    bottom: 38%;
    z-index: 9;
    display:none;
}
.questionsection{
    background-image: url(../images/quizquestionbg.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    text-align: center;
    padding: 100px 0px;
}
.question{
    color: #fff;
    font-family: 'brb';
    font-size: 34px;
    width: 75%;
    margin: auto;
    z-index: 9;
    position: relative;
}
.answerquiz{
    background-image: url(../images/quizansbg.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    display: inline-block;
    padding: 80px 0px;
}
.answers{
    width: 70%;
    margin:auto;
}
.choice input {
    display: none;
}

.choice {
    border: none;
    padding: 35px;
    width: 45%;
    float: left;
    margin: 10px 10px;
    background: #fff;
    text-align: center;
    font-family: brb;
    font-size: 38px;
}
.bolt{
    position: absolute;
    left: 8%;
    width: 205px;
    top: 0px;
    z-index: 1;
}
.right {
    background-color: #8cb23b;
}
.left-round-top{
    border-top-left-radius: 50px;
}
.left-round-bottom{
    border-bottom-left-radius: 50px;
}
.right-round-top{
    border-top-right-radius: 50px;
}
.right-round-bottom{
    border-bottom-right-radius: 50px;
}
.heartbeat {
	-webkit-animation: heartbeat 1s ease-in-out both;
	        animation: heartbeat 1s ease-in-out both;
}
@-webkit-keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  
